<div id="page_wrapper">
    <div id="profile_image">
        
    </div>
    
    <div id="content">
        <h1>Hi there</h1>
        <p>Welcome to week 2</p>
        <p>Lorem ipsum dolor amet copper mug helvetica cloud bread vape, chillwave pork belly DIY irony jianbing deep v waistcoat locavore. Ugh ethical master cleanse man braid gastropub single-origin coffee hexagon viral cornhole celiac forage. Cornhole disrupt four dollar toast synth roof party readymade swag franzen skateboard vinyl paleo stumptown iPhone. Chicharrones DIY man bun pug paleo, adaptogen shabby chic. Blue bottle readymade meggings messenger bag chambray gastropub flannel. Polaroid plaid pok pok put a bird on it shabby chic craft beer waistcoat jean shorts cliche vaporware chartreuse disrupt yr man braid single-origin coffee. Squid asymmetrical tacos, fashion axe seitan lo-fi kombucha green juice cardigan marfa affogato migas.</p>
    </div>
</div>